annotated-types
anyio
certifi
charset-normalizer
click
distro
docopt
filelock
fsspec
h11
httpcore
httpx
huggingface-hub
idna
jiter
joblib
mosestokenizer
nltk
numpy
openai
openfile
packaging
pydantic
pydantic_core
PyYAML
regex
requests
safetensors
sniffio
tokenizers
toolwrapper
tqdm
transformers
typing_extensions
uctools
urllib3
torch